#cbl-trainer * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
}

#cbl-trainer h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

#cbl-trainer small {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#cbl-trainer small a {
    text-decoration: none;
    color: #042037;
}

#cbl-trainer small a:hover {
    text-decoration: underline;
    color: #000000;
}

#cbl-trainer p {
    margin-bottom: 10px;
}

#cbl-trainer span.cbl-discard {
    background-color: #718EA4;
    padding: 0 5px;
    border-radius: 2px;
    font-weight: bold;
}

#cbl-trainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 54, 82, 0.5);
}

#cbl-trainer #cbl-trainer-dialog {
    align-self: center;
    margin: 100px auto;
    padding: 10px;
    width: 320px;
    height: 240px;
    border: 1px solid #042037;
    border-radius: 2px;
    background-color: #EEEEFF;
    color: #042037;
    box-shadow: 0 0 10px rgba(18, 54, 82, 0.3);
    position: relative;
}

#cbl-trainer #cbl-trainer-dialog #cbl-close {
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 20px;
    border-bottom-left-radius: 2px;
    transition: background-color .25s ease-in-out;
    opacity: 0.5;
}

#cbl-trainer #cbl-trainer-dialog #cbl-close:hover {
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 1;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

#cbl-trainer #cbl-trainer-dialog .cbl-row {
    width: 100%;
    clear: both;
}

#cbl-trainer #cbl-trainer-dialog .cbl-row .cbl-right {
    text-align: right;
    border-right: 1px dotted #123652;
}

#cbl-trainer #cbl-trainer-dialog .cbl-row .cbl-cell-50 {
    display: inline-block;
    width: 50%;
    height: 100px;
    line-height: 100px;
    padding: 0 10px;
    float: left;
}

#cbl-trainer #cbl-trainer-dialog img {
    max-width: 80px;
    max-height: 80px;
    border: 1px solid #123652;
    vertical-align: middle;
}

#cbl-trainer #cbl-trainer-dialog input[type='text'] {
    width: 80px;
    height: 50px;
    margin: 15px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #123652;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #718EA4;
}











